<div class="article-list item-list mb-3">
    <div class="article-item col media py-3"
    *ngFor="let item of articleList">

      <div class="mr-3">
        <button class="article-delete btn btn-sm btn-danger"
        (click)="handleDelete(item)">
            <fa-icon [icon]="faTimes"></fa-icon>
        </button>
      </div><!-- media-left -->
  
      <div class="article-info media-body">
        <div class="article-head d-flex">
          <span class="article-name">{{item.artId}}--</span>
          <span class="article-name" contenteditable="true"
          #articleName (blur)="handleUpdate(item, 'articleName', articleName.innerText)">{{item.articleName}}</span>
          <span class="art-date ml-auto">{{item.creationDate}}</span>
        </div><!-- article-head -->
  
        <div class="owner-name">
          <span class="label-item">Author: </span>
          <span contenteditable="true"
          #author (blur)="handleUpdate(item, 'author', author.innerText)">{{item.author}}</span>
        </div>
        <div class="art-text" contenteditable="true"
        #summary (blur)="handleUpdate(item, 'summary', summary.innerText)">{{item.summary}}</div>
      </div><!-- article-info -->
    </div><!-- article-item -->
  </div><!-- article-list -->