<div class="article-list item-list mb-3">
    <div class="article-item col media py-3"
    *ngFor="let item of articleList">

      <div class="mr-3">
        <button class="article-delete btn btn-sm btn-danger"></button>
      </div><!-- media-left -->
  
      <div class="article-info media-body">
        <div class="article-head d-flex">
          <span class="article-name" contenteditable="true">{{item.articleName}}</span>
          <span class="art-date ml-auto">{{item.creationDate}}</span>
        </div><!-- article-head -->
  
        <div class="owner-name">
          <span class="label-item">Author: </span>
          <span contenteditable="true">{{item.author}}</span>
        </div>
        <div class="art-text" contenteditable="true">{{item.summary}}</div>
      </div><!-- article-info -->
    </div><!-- article-item -->
  </div><!-- article-list -->