<main class="page bg-white" id="petratings">
  <div class="container">
    <div class="row">
      <div class="col-md-12 bg-white">

        <div class="container">
          <h2 class="py-5">{{title}}</h2>
          <app-add (addEvt)="addArticle($event)"></app-add>
          <app-search 
          (queryEvt)="searchArticle($event)"
          (orderEvt)="orderArticle($event)"
          [orderBy]="orderBy"
          [orderType]="orderType"></app-search>
          <app-list 
          [articleList]="modifiedArticles" 
          (deleteEvt)="deleteArticle($event)"
          (updateEvt)="updateArticle($event)"></app-list>
        </div>
        
      </div><!-- col-md-12 -->
    </div><!-- row -->
  </div><!-- container -->
</main><!-- main -->